/* Loading Screen*/
#preloader {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* You can customize the background color */
  color: whitesmoke; /* You can customize the text color */
  font-size: 24px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#preloader h1 {
  top: 50%;
  left: 35%;
}

/* HEADINGS */

h1 {
  position: absolute;
  top: 40px;
  left: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 32px;
  padding: 0;
  margin: 0;
}

h2 {
  position: absolute;
  top: 50px;
  left: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 12px;
  padding: 22px;
  margin: 5px;
}

h3 {
  position: absolute;
  bottom: -150px;
  left: 600px;
  font-weight: normal;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
}

/* Contact Info Section Styles */
#contact-info ul {
  list-style: none;
  padding: 0;
}

#contact-info li {
  margin-bottom: 10px;
}

#contact-info a {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer; /* Ensures the pointer cursor shows when hovering over links */
}

#contact-info a:hover {
  color: gray; /* Add hover effect for links */
}

/* Adjust positioning of the contact section */
#contact-info {
  position: absolute;
  bottom: 20px;
  right: 40px;
}

/* BODY */

body {
  background-color: whitesmoke;
  font-family: 'Neue Montreal';
  font-size: 14px;
  font-weight: bold;
  font-feature-settings: "palt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  position: absolute;
  border: thin solid #000;
  box-sizing: border-box;
  padding: 300px;
  width: 99%;
  height: 98%;
}

/*Project Thumbnail Photos*/
.thumbnails {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0;
  left: 100px;
}

.thumbnails img {
  width: auto;
  height: 200px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  filter: grayscale(100%);
}

.thumbnails a {
  display: block;
}

.thumbnails img:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

/*BUTTON FEATURES*/

/* Add a class to the current page */
.current-page {
  font-weight: bolder;
  color: black;
}

/* Apply the class to the corresponding list item */
#home.current-page,
#projects.current-page,
#contact.current-page {
  list-style: disc;
}

/* Position of Nav Buttons */
nav {
  position: absolute;
  top: 110px;
  left: -5px;
}

/* Allows Nav Buttons to be interactive */
.invisibleButton {
  background-color: transparent;
  border: none;
  color: black;
  transition: color 0.4s ease;
  cursor: pointer;
}

.invisibleButton:hover {
  color: gainsboro;
}
  
li {
  padding: 6px;
  margin: 0;
  list-style: none;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 12px;
}

/* HOME PAGE BIO */


/*Blinking Cursor Effect*/
.blinking-cursor::after {
  content: '|';
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#dynamic-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  white-space: pre-line;
  overflow: hidden;
  position: absolute;
  top: 55%;
  bottom: 10px;
  right: 20px;
  width: 10%;
  text-align: left;
  margin: 10px;
  font-size: 1em;
  color: #333;
}

/* Add on code, revist, may not need in the final draft */
.wrapped-text::after {
  content: "";
  display: block;
  height: 10px; /* Adjust the spacing between paragraphs */
}
